@use "../../abstracts" as *;

.card {
  min-width: 20rem;
  background-color: #ccc;
  margin: 0;
  padding: 1em;
  border-radius: 0.5em;
}

.card__title {
  display: inline-block;
  font-size: 2em;
}

.card__dates {
  margin-top: 1em;
  font-size: 0.75rem;
  color: lighten($secondary, 40%);

  p {
    text-align: right;
  }
}
