@use "../../abstracts" as *;

.link {
  color: $primary;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;

  &:hover {
    background-color: $highlight;
  }
}

.active {
  color: $highlight;

  &:hover {
    color: $secondary-highlight;
  }
}

.nav-link {
  background-color: darken($background, 10);
  padding: 0.5rem;
}

.language-link {
  font-size: 1rem;
  padding: 0;
}
