@use "../../abstracts" as *;

.link {
  color: $primary;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;

  &:hover {
    background-color: $highlight;
  }
}

.active {
  color: $highlight;

  &:hover {
    color: $secondary-highlight;
  }
}
