@use "../../abstracts" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 12rem;
  background-color: #ccc;
  margin: 0;
  padding: 1em;
  border-radius: 0.5em;

  &:hover {
    scale: 1.1;
    background-color: white;
    box-shadow: 0 0.25em 1em #fff;
  }
}

.card__title {
  display: inline-block;
  font-size: 2em;
}

.card__text {
  max-width: 40rem;
}

.card__dates {
  margin-top: 1em;
  font-size: 0.75rem;
  color: lighten($secondary, 40%);

  p {
    text-align: right;
  }
}
