@use "../abstracts" as *;

.button {
  background-color: $primary;
  border-radius: 1em;
  border: 0.125rem solid $highlight;

  &.ok {
    &:hover {
      box-shadow: 0 0.25em 1em $highlight;
    }
  }

  &.warning {
    background-color: map-get($status, "warning");
    border: 0.125rem solid map-get($status, "warning");

    &:hover {
      box-shadow: 0 0.25em 1em map-get($status, "warning");
    }
  }

  &.danger {
    background-color: map-get($status, "danger");
    border: 0.125rem solid map-get($status, "danger");

    &:hover {
      box-shadow: 0 0.25em 1em map-get($status, "danger");
    }
  }

  &:hover {
    scale: 1.1;
  }
}
