@use "../abstracts" as *;

.wrapper {
  display: grid;
  grid-template-columns: 3.5rem auto;
  grid-template-areas: "logo navbar";
  background-color: darken($background, 10%);
}

.logo {
  grid-area: logo;
  display: grid;
  text-decoration: none;
}

.nav {
  grid-area: navbar;
  height: 3.5rem;
  overflow: hidden;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;

    list-style-type: none;
    height: 100%;
  }

  .login-div {
    display: inline;
    float: right;
  }
}

.link-area {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.link {
  color: $primary;
  text-decoration: none;
  font-size: 2rem;
  padding: 1rem;

  &:hover {
    background-color: $highlight;
  }
}

.dropdown {
  & > a::after {
    padding-left: 0.25rem;
    content: "\f101";
  }

  &:hover {
    & > a::after {
      content: "\f103";
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 4rem;
  background-color: darken($color: $background, $amount: 10);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
