@use "../abstracts" as *;

.grid {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 3.5rem auto;
  grid-template-areas: "header" "main";
}

.header {
  grid-area: header;
}

.content {
  background-color: $background;
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.easterContainer {
  position: absolute;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;

  span {
    border-radius: 2rem;
    box-shadow: 0 0.25em 1em $highlight;
  }
}
